.btn--nostyling {
    border: none;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    line-height: 1.15;
}

/* primary button */
.btn--primary {
    background: linear-gradient(90deg, #F4528C -130.21%, #FFB249 152.43%);
    color: #ffffff;
    border: none;
}

.btn--primary:hover {
    background: linear-gradient(90deg, #FE1E6F -130.21%, #FFAC3A 152.43%);
    color: #ffffff;
    border: none;
}

/* secondary button */
.btn--secondary {
    background-color: #138496;
    color: #ffffff;
}

.btn--secondary:hover {
    background-color: #0c6270;
    color: #ffffff;
    text-shadow: 0px 0px 1px #ffffff;
}

.btn-outline--primary {
    background-color: #ffffff;
    border: 2px solid #52AAF4;
    color:  #52AAF4;
}

.btn-outline--primary:hover {
    background-color: #52AAF4;
    color: #ffffff;
    text-shadow: 0px 0px 1px #ffffff;
}


.btn-outline--secondary {
    border: 2px solid #138496;
    color:  #138496;
}

.btn-outline--secondary:hover {
    background-color: #138496;
    color: #ffffff;
    text-shadow: 0px 0px 1px #ffffff;
}

.btn--nostyling:hover .cross {
    color: rgb(0, 0, 0);
}

/* return button */

.return-button:hover .f-arrow-left,
.return-button:hover 
{
    color: #000000;
    text-decoration: none;
}
