/* text colors */
.text-pink {
    color: #ff6f6f;
}

.text-grey {
    color: rgb(46, 46, 45);
}

.text-white {
    color: #ffffff ;
}

.text-lighter-grey {
    color: rgba(0, 0, 0, 0.5)
}

a.link-color-primary {
    color: #0a98eb;
}
.link-color-primary:hover {
    color: #5bbbf3;
    text-decoration: none;
}

/* background colors */
.bg-c-grey {
    background-color: #494949;
}