/*default styling*/
.feather {
    color: rgba(0, 0, 0, 0.5)
}

.f-message-circle:hover {
    color: rgba(17, 109, 184, 0.849)
}

.f-heart:hover {
    color: rgba(255, 0, 0, 0.849)
}

.f-arrow-left:hover {
    color: rgb(0, 0, 0)
}