.navbar {
    height: 3rem;
}

.navbar-secondary {
    height: 3.4rem;
    padding-top: 0.5rem;
}

.bg-light {
    background-color: rgb(255, 255, 255);
}



.navigation-link:hover .f-home,
.navigation-link:hover .f-bell,
.navigation-link:hover .f-mail,
.navigation-link:hover .f-search,
.navigation-link:hover 
{
    color: #138496;
    text-decoration: none;
}