.profile-card__body {
    margin-top: -11.5rem;
}

@media (max-width: 575px) {
    .profile-card__body {
        margin-top: -4.3rem;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .padding-nullify {
        padding-left: 0;
        padding-right: 0
    }

    .profile-card_btn {
        margin-top: 3.6rem;
    }
}

.profile--small {
    height: 45px;
    width: 45px;
}

.profile--medium {
    height: 75px;
    width: 75px;
}

.profile--large {
    height: 200px;
    width: 200px;
}

.profile--primary-size {
    height: 200px;
    width: 200px;
}

@media (max-width: 575px) {
    .profile--primary-size {
        height: 85px;
        width: 85px;
    }
}

.card-block-height {
    min-height: 250px;
}