.font-oswald {
    font-family: 'Oswald', sans-serif;
}

.font-abril-fatface {
    font-family: 'Abril Fatface', cursive;
    font-weight: 10;
}

.font-josefin-slab {
    font-family: 'Josefin Slab', serif;
    font-weight: thin;
}
