<nav class="navbar navbar-light bg-light border_bottom p-x-sm-0 box-shadow-b fixed-top">
    <div class="d-sm-flex justify-content-between">     
        <div class="d-flex w-100 justify-content-around">
            <div class="text-center">
            <a href="/" class="navbar-brand lh-1">TwitterClone</a>
            </div>

            <div class="dropdown">
            <!-- profile icon-->
                <div class="d-flex align-items-center">
                <i data-feather="user" class=" dropdown__icon-button rounded-circle"></i>
                <i class="arrow-down"></i>
                </div>

                <nav class="dropdown__navigation dropdown-active">     
                    <ul class="dropdown__list">
                    <li class="dropdown__list-item">
                        <a class="dropdown__list-item-link btn btn-red" href="/login">Login</a></li>

                    <li class="mt-4">Don't have an account?</li>
                    <li class="dropdown__list-item mt-1">           
                        <a class="dropdown__list-item-link btn btn-outline-red" href="/register">Register</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</nav>