<div class="collapse bg-inverse" id="navbarHeader">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 py-4">
                <h4 class="text-white">TwitterClone</h4>
                <p class="text-white">Här skriver vi något coolt om vår TwitterClone</p>
            </div>
            <div class="col-sm-4 py-4">
                <h4 class="text-white">Kontakt</h4>
                <ul class="list-unstyled">
                    <li href="#" class="text-white">Följ oss på twitter</li>
                    <li href="#" class="text-white">Följ oss på Facebook</li>
                    <li href="#" class="text-white">Skicka ett mail</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-inverse bg-inverse">
    <div class="container d-flex justify-content-between">
        <a href="/" class="navbar-brand">TwitterClone</a>
        <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>