/* Unset position for the menu to get full width of viewport */
.dropdown {
    position: unset;
}

.dropdown__icon-button {
    cursor: pointer;
}

.dropdown__navigation {
    background-color: rgb(255, 255, 255);
    margin-left: -1rem;
    border-radius: 0  0 1% 1% ;
    margin-top: 12px;
    text-align: center;
}

.dropdown-active {
    display: none;
    position: absolute;
    z-index: 10;
}

.dropdown__list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.dropdown__list a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.dropdown__list_element--hover:hover {
    background-color: rgb(230, 230, 230);
    color: rgb(0, 0, 0);
}

.dropdown__list_link {
   display: block;
   padding: 1rem 2rem;
}



@media (max-width: 575.98px) {
    .dropdown__list {
        list-style: none;
        padding: 0;
        width: 100%;
    }

    .dropdown__navigation {
        width: 100%;
        background-color: rgb(255, 255, 255);
        margin-left: -1rem;
        border-radius: 0  0 1% 1% ;
        margin-top: 9px;
        text-align: center;
    }
}