
.far, .fas {
    font-size: 1.4rem;
}

.fa-user-circle {
    font-size: 2rem;
}

.fa-user-circle:hover {
    color: #138496;
}

.fa-home, .fa-envelope, .fa-search {
    color: rgb(46, 46, 45);
}

.fa-home:hover, .fa-envelope:hover, .fa-search:hover {
    color: #138496;
}


.fa-comment, .fa-heart {
    color: rgba(0, 0, 0, 0.5)
}

.fa-comment:hover {
    color: rgba(17, 109, 184, 0.849)
}


.fa-heart:hover {
    color: rgba(255, 0, 0, 0.849)
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}