@import url('blocks/navigation.css');
@import url('blocks/dropdown-menu.css');
@import url('blocks/profile.css');

@import url('blocks/typography.css');
@import url('blocks/colors.css');
@import url('blocks/components/form.css');
@import url('blocks/components/buttons.css');
@import url('blocks/icons.css');
@import url('blocks/utilities.css');


.jumbo-home {
    background-color: #2EB6C9;
    border-radius: 0;
    padding: 10rem 0;
}

body {
    padding-top: 3rem;
}

.push-content {
    margin-top: 4rem;
}