@import url('icons.css');

.navbar-height {
    height: 3.3rem;
}

.aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.border_bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.box-shadow-b {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
}

.dropdown__icon-button {
    cursor: pointer;
}

.dropdown__navigation {
    width: 100px;
    background-color: rgb(255, 255, 255);
    text-indent: 1rem;
    margin-left: -1rem;
    border-radius: 0  0 1% 1% ;
    margin-top: 12px;
}

.dropdown-active {
    display: none;
    position: relative;
    z-index: 10;
}

.dropdown__list {
    list-style: none;
    padding: 0;
}
.dropdown__list a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.dropdown__list_element{
    
}

.dropdown__list_element--hover:hover {
    background-color: rgb(230, 230, 230);
    color: rgb(0, 0, 0);
}

.dropdown__list_link {
   display: block;
   padding: 10px;
}

/* Remove padding from jumbotron */
.b-img {
    padding: 0px;
   
}

.default__background-image {
    background-image: url(../images/default.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 450px;
    border-radius: 0;
    margin: 0px;
    
}

.profile {
    background-image: url('../images/profile_default.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 1.3rem;
    
}

.profile--small {
    height: 45px;
    width: 45px;
}

.profile--large {
    height: 200px;
    width: 200px;
}



/* Utilities */

/* text indent */
.ti-1 {
    text-indent: 1rem;
}

.mt-5-invert {
    margin-top: -11rem;
}