.default__background-image {
    background-image: url(https://picsum.photos/1200/400/?random);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 450px;
    border-radius: 0;
    margin: 0px;
    
}

/* Remove padding from jumbotron */
.b-img {
    padding: 0px;
   
}

.profile {
    background-image: url('../images/profile_default.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 1.3rem;
    
}

.profile--small {
    height: 45px;
    width: 45px;
}

.profile--medium {
    height: 75px;
    width: 75px;
}

.profile--large {
    height: 200px;
    width: 200px;
}


