.font-oswald {
    font-family: 'Oswald', sans-serif;
}

.font-abril-fatface {
    font-family: 'Abril Fatface', cursive;
    font-weight: 10;
}

.font-josefin-slab {
    font-family: 'Josefin Slab', serif;
    font-weight: thin;
}

.text-pink {
    color: #f04e4e;
}

.text-grey {
    color: rgb(46, 46, 45);
}

.text-white {
    color: #ffffff ;
}

.text-lighter-grey {
    color: rgba(0, 0, 0, 0.5)
}

a.link-color-primary {
    color: #0a98eb;
}
.link-color-primary:hover {
    color: #5bbbf3;
    text-decoration: none;
}